@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);

#menu-h .navbar-toggler {
  color: #000;
}
#social-buttons1-28 .mbr-section-title {
  color: #4d5056;
}
#content4-1m P {
  text-align: center;
}
#social-buttons2-2p .mbr-section-title {
  color: #fbfbfb;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

#menu-x .navbar-toggler {
  color: #000;
}
#social-buttons1-27 .mbr-section-title {
  color: #4d5056;
}
#content4-1l P {
  text-align: center;
}
#social-buttons2-2o .mbr-section-title {
  color: #fbfbfb;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

#menu-15 .navbar-toggler {
  color: #000;
}
#social-buttons1-1y .mbr-section-title {
  color: #4d5056;
}
#content4-1c P {
  text-align: center;
}
#social-buttons2-2n .mbr-section-title {
  color: #fbfbfb;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

#menu-1z .navbar-toggler {
  color: #000;
}
#image2-22 DIV {
  text-align: center;
}
#social-buttons1-24 .mbr-section-title {
  color: #4d5056;
}
#content4-25 P {
  text-align: center;
}
#social-buttons2-2m .mbr-section-title {
  color: #fbfbfb;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

#content5-2c .mbr-section-title {
  text-align: center;
  color: #fbfbfb;
  font-size: 80px;
}
#content5-2i .mbr-section-title {
  color: #4a4c51;
}
#content5-2i P {
  color: #4d5056;
}
#menu-2f .navbar-toggler {
  color: #000;
}
#social-buttons2-2l .mbr-section-title {
  color: #fbfbfb;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

#menu-1 .navbar-toggler {
  color: #000;
}
#content5-1h .mbr-section-title {
  color: #4a4c51;
}
#content5-1h P {
  color: #4d5056;
  font-size: 24px;
}
#msg-box1-1k H2 {
  color: #a7b0c3;
  text-align: right;
  font-size: 36px;
}
#social-buttons2-2k .mbr-section-title {
  color: #fbfbfb;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

#content5-w .mbr-section-title {
  text-align: center;
  color: #fbfbfb;
  font-size: 80px;
}
#msg-box4-30 .mbr-section-title {
  text-align: left;
}
#msg-box4-30 .lead P {
  text-align: left;
}
#msg-box4-2j .mbr-section-title {
  text-align: left;
}
#msg-box4-2j .lead P {
  text-align: left;
}
#msg-box4-2j .lead {
  text-align: left;
}
#msg-box4-s .mbr-section-title {
  text-align: left;
}
#msg-box4-s .lead P {
  text-align: left;
}
#msg-box4-t .mbr-section-title {
  text-align: left;
}
#msg-box4-t .lead P {
  text-align: left;
}
#menu-1 .navbar-toggler {
  color: #000;
}
#msg-box4-q .mbr-section-title {
  text-align: left;
}
#msg-box4-q .lead P {
  text-align: left;
}
#msg-box4-q .lead {
  text-align: left;
}
#social-buttons2-1t .mbr-section-title {
  color: #fbfbfb;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

#menu-1 .navbar-toggler {
  color: #000;
}
#content5-9 .mbr-section-title {
  color: #4a4c51;
}
#content5-9 P {
  color: #4d5056;
}
#form1-a .mbr-section-title {
  color: #8f99af;
}
#social-buttons2-2q .mbr-section-title {
  color: #fbfbfb;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

#menu-2s .navbar-toggler {
  color: #000;
}
#image2-2v DIV {
  text-align: left;
}
#social-buttons1-2x .mbr-section-title {
  color: #4d5056;
}
#content4-2y P {
  text-align: center;
}
#social-buttons2-2z .mbr-section-title {
  color: #fbfbfb;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}
